.paint {
  height: 80vh;
  position: relative;
  width: 30vw;
}

.paint-img {
  border-radius: 4px;
  box-shadow: 5px 0 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.img-right {
  margin-left: 70vw;
}

.paint-desc {
  font-size: 2.5rem;
  font-weight: 200;
  left: 25vw;
  position: absolute;
  text-indent: 5rem;
  text-shadow: 10px 0 0 rgba(0, 0, 0, 0.5);
  top: 40vh;
  width: 70vw;
}

.desc-right {
  left: 2vw;
}

.paint-btn {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Indie Flower";
  font-size: 4rem;
  font-weight: 100;
  height: 8vh;
  left: 10vw;
  outline: 0;
  position: absolute;
  top: 70vh;
  width: 10vw;
  cursor: pointer;
}

.btn-right {
  left: 80vw;
}

.paint-btn:hover {
  background: rgba(255, 255, 255, 0.05);
}
